<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
      <link rel="shortcut icon" href="/assets/portfolio/favicon.svg" type="image/svg+xml">
          
      </div>
      <nav>

        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/portfolio/">Work</a>
          </li>
          <li>
            <a href="/contact/">Contact us</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>